@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Mono", sans-serif;
}

body {
  background-color: #e3e3e3;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  max-width: 30%;
  max-height: 30%;
  width: auto;
  height: auto;
}

.logo,
.buttons {
  width: 25%;
}

.menu {
  width: 50%;
}

.menu nav a {
  color: white;
  text-decoration: none;
  padding-right: 35px;
  font-size: 20px;
  position: relative;
}

.button-contorno,
.Inicio button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  background-color: transparent;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.button-contorno:hover,
.Inicio button:hover {
  background-color: white;
  color: rgb(54, 114, 156);
  transition: 0.2s;
}
.button-preenchido {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: rgb(54, 114, 156);
  background-color: white;
  font-weight: 600;
}
.button-preenchido:hover {
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  padding: 10px;
}

.menu nav a::after {
  content: " ";
  width: 0px;
  height: 4px;
  background-image: linear-gradient(45deg, #052240, #9ee6fc);
  position: absolute;
  top: 30px;
  left: 0;
  transition: width 0.5s;
}

.menu nav a:hover::after {
  width: 60px;
}
/* Estilização da Seção 'Inicio' */

section.Inicio {
  height: 98vh;
  background-image: url(../components/images/Fundo\ Site\ 5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.Inicio .interface {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.Inicio .txt-inicio {
  width: 100%;
}

.Inicio .txt-inicio h1 {
  font-size: 4em;
  line-height: 65px;
  font-weight: 400;
}

.Inicio .txt-inicio h1 span {
  display: block;
  font-weight: 1000;
}

.Inicio .txt-inicio p {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
  color: white;
}

.Inicio .txt-inicio p span {
  display: block;
  color: white;
}

/* Estilização da Seção 'Comunidade' */

section.Comunidade {
  padding: 80px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.Comunidade .interface {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.Comunidade .itens-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 40px;
}

.Comunidade .itens-container .img-itens img {
  max-width: 480px;
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.Comunidade .itens-container .txt-itens {
  width: 45%;
}

.Comunidade .itens-container .img-itens {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.Comunidade .itens-container .txt-itens h3 {
  font-size: 3em;
  line-height: 50px;
  margin-bottom: 15px;
}

.Comunidade .itens-container .txt-itens p {
  font-size: 1em;
  line-height: 1.5;
}

.itens-container .txt-itens h3 span {
  font-weight: 300;
}

.TorcidaPain {
  width: 230px;
  border-radius: 15px;
  box-shadow: 6px 6px 0 #ff0901;
}

.TorcidaMundial {
  width: 230px;
  border-radius: 15px;
  box-shadow: 6px 6px 0 #1c2dc0;
}

.TorcidaLoud {
  width: 230px;
  border-radius: 15px;
  box-shadow: 6px 6px 0 #0bcc4c;
}

.image-fonte {
  font-size: 0.8em;
  color: #666;
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  width: 100%;
}
